h1, h2 {
    color: #33b400;
    width: 100%;
    margin: 0;
}

.pont {
    color: red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: gray;
    border: 5px solid black;
    border-radius: 16px;
    row-gap: 12px;
}

.kep {
    display: block;
    width: 30%;
}

.kepek {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.kozep {
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .container {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 80%;
    }
}